@import 'reset';
@import 'variables';
@import 'fonts';
@import 'function';

@import 'header/header';

@import 'top/top';
@import 'about/about';

.content {
    max-width: 1400px;
    padding: 0 120px;
    margin: 0 auto;
}