@mixin font($txtColor, $weight, $size, $height) {
    color: $txtColor;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

@mixin flex($pos: xy, $x: center, $y: center) {
    display: flex;

    @if $pos == 'xy' {
        justify-content: $x;
        align-items: $y;
    } @else if $pos == 'x' {
        justify-content: $x;
        align-items: initial;
    } @else if $pos == 'y' {
        justify-content: initial;
        align-items: $y;
    }
}

@mixin for-phone-only {
    @media (max-width: 767px) { @content; }
}
  
@mixin for-tablet-only {
    @media (min-width: 768px) and (max-width: 1199px) { @content; }
}
  
@mixin for-desktop-only {
    @media (min-width: 1200px) { @content; }
}

@mixin scrolllayout($track, $scrollbar, $thumb) {
    &::-webkit-scrollbar-track {
        background-color: $track;
    }
    &::-webkit-scrollbar {
        width: 6px;
        background: $scrollbar;
    }
    &::-webkit-scrollbar-thumb {
        //background: rgb(196, 196, 196);
        background: $thumb;
        border-radius: 4px;
    }
}

