&__cv {
    a {
        @include flex('x');
        padding: 10px;
        text-decoration: none;
        color: $brown-dark;
        border: 2px solid $brown-dark;
        border-radius: 6px;
        gap: 5px;
        transition: .2s all ease-in-out;

        @include for-phone-only {
            padding: 6px;
        }

        &:hover {
            background-color: $brown-dark;
            span {
                color: #FFF;
            
            }
            svg path {
                fill: #FFF;
            }
        }
        span {
            @include for-phone-only {
                display: none;
            }
        }
    }
}