&__logo {
    @include flex('xy');
    img {
        width: 100px;
        @include for-phone-only {
            display: none;
        }
    }
    span {
        font-weight: 700;
        font-size: 22px;
        margin-left: 10px;
        b {
            color: $brown-dark;
        }
    }
}