&__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100px;
    }
    span {
        font-weight: 700;
        font-size: 22px;
        margin-left: 10px;
        b {
            color: $brown-dark;
        }
    }
}