.header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-bottom: 1px solid $brown-dark;

    @import '_logo';
    @import '_nav';
    @import '_cv';

}

