.experience {
    .box {
        margin-top: 20px;
        display: flex;
        @include for-phone-only {
            flex-wrap: wrap
        }
        @import "./menu";
        @import "./content";
    }
}