.about {
    &__title {
        h4 {
            font-size: 32px;
            color: $black;
            font-weight: 700;
            width: 100%;
            @include flex('y');
            flex: 1;
            .number {
                color: $brown-dark;
            }
            .title {
                width: 260px;
            }
            &:after {
                content: "";
                background-color: $green-light;
                height: 1px;
                width: 100%;
                display: inline-block;
            }
        }
    }

    &__content {
        @include flex('x', 'space-between');
        margin-top: 20px;
        position: relative;

        .text {
            margin-right: 40px;
            p {
                font-size: 16px;
                line-height: 200%;
            }
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                margin-top: 20px;

                li {
                    list-style: url('/src/img/List-Style.svg');
                    list-style-position: inside;
                    padding: 5px 0;
                }
            }
        }
        .thumb {
            border: 3px solid $brown-dark;
            border-radius: 7px;
            height: 259px;
            overflow: hidden;
            min-width: 250px;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                background-color: $brown-dark;
                opacity: .4;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                transition: all .2s ease-in-out;
                cursor: pointer;
            }
            &:hover {
                &:after {
                    opacity: 0;
                }
            }

            img {
                width: 100%;
            }
        }
        .thumb-border {
            height: 259px;
            min-width: 250px;
            border: 3px solid $brown-dark;
            position: absolute;
            border-radius: 7px;
            right: -20px;
            margin-top: 20px;
            z-index: 0;
            

        }
    }
    
}